
<ion-content style="border: 10px;">


      <div style="text-align: center;  margin-top: -64px; padding-top: 100px; padding-bottom: 90px; margin-bottom: 32px; color: white; background-color: #5AAE3E; border-radius: 0px 0px 10px 10px;">
        <p> <b>Kalifa SENOU</b>  </p>
        <p> kalifasenou@gmail.com </p>
        <p> Vous êtes : <i> <b>Repondant</b> </i>  </p>
      </div>

    <ion-card class="images" >
      <!-- photos de profil -->
      <img src="../../../assets/photo_2022-08-02_17-05-51.jpg" alt="Photo de profil user"  >
    </ion-card>
    <ion-row class="monrow">
      <ion-col>
        <ion-card class="donnesfaits"> <div>Nombre d'enquête</div> <div style="text-align: center;">60</div> </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="donnesfaits"> <div>Nombre d'enquête</div> <div style="text-align: center;">60</div> </ion-card>
      </ion-col>
    </ion-row>
    <ion-row style="display: flex; margin: 35px;">
      <ion-card class="donnesfaitsparticiper"> <div>Nombre d'enquête</div> <div style="text-align: center; ">60</div> </ion-card>
    </ion-row>

<div>
  <ion-row>
    <ion-button style="text-align: center;">
      Devenir Administrateur
    </ion-button>
  </ion-row>
</div>



</ion-content>
