// .donnesfaits{
//   width: 130px;
//   margin-bottom: -25px !important;
//   height: 65px;
//   color: black;
//   align-self: center; align-content: center;


// }

// .donnesfaitsparticiper{
//   align-items: center;
//   height: 60px;
//   width: 215px;
//   text-align: center; align-self: center; align-content: center;
// }

.images{
  display: flex;
    align-items: center;
    height: 150px;
    margin-top: -120px;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap; align-self: center; align-content: center;
}
.monrow{
  display: flex;
  text-align: center;align-self: center; align-content: center;
}

ion-button
{
  margin-top: -30px;
    --background: #5AAE3E; align-self: center; align-content: center;
  }
