<ion-header>
  <ion-toolbar>
    <ion-title>Administrateur {{nom}}</ion-title>
   <div><b>Travailler</b> avec des <b>données</b> n'a jamais été aussi <b>facile !</b></div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="6" >
      <ion-button routerLink="/creersondage" expand="block">Créer un Sondage</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" routerLink="/creer-enquete">Créer une Enquete</ion-button>
    </ion-col>
  </ion-row>
  <ion-row style="text-align: center; align-content: center; align-self: center;">
    <ion-col size="12">
      <div>
        <p><b>Liste des activités récentes !</b></p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" >
    <ion-card *ngFor="let enquete of ToutEnquete" [routerLink]="['/details-enquete', enquete.id]">
        <img src="{{enquete?.images}}" alt="Image de l'activité">
        <ion-card-header>
          <ion-card-subtitle>Nom de l'enquête <b>{{enquete.libelle}}</b></ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <div><p> <b style="font-size:medium;">Date de debut: </b> {{enquete.datedebut}}</p></div>
          <div><p> <b style="font-size:medium;">Date de fin:</b> {{enquete.datefin}}</p></div>
          <div><p> <b style="font-size:medium;">Nom de l'organisateur :</b> {{ organization }}</p></div>
          <div><p> <b style="font-size: medium;">Description de l'enquête : </b> <br> {{enquete.description}} </p> </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>


</ion-content>
