<ion-header>
  <ion-toolbar>
    <ion-title>Administrateur {{nom}}</ion-title>
   <div><b>Travailler</b> avec des <b>données</b> n'a jamais été aussi <b>facile !</b></div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="6" >
      <ion-button routerLink="/creersondage" expand="block">Créer un Sondage</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" routerLink="/creer-enquete">Créer une Enquete</ion-button>
    </ion-col>
  </ion-row>
  <ion-row style="text-align: center; align-content: center; align-self: center;">
    <ion-col size="12">
      <div>
        <p><b>Liste des activités récentes !</b></p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <!-- <ion-col size="12">
      <ion-card class="contenir">
        <ion-row style="justify-content: center;">
          <img class="images" src="../../../assets/IMG_2213.JPG" alt="Image de l'activité">
        </ion-row>
        <ion-card-header>
          <ion-row class="slides">
            <ion-col size="6">nom de l'enquête : </ion-col>
            <ion-col size="6"><b> {{nom}}</b></ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <ion-row class="carde">
            <ion-col size="6">Date de debut :</ion-col>
            <ion-col size="5">12 - 01 -2023</ion-col>
            <ion-col size="1"><svg width="19" height="17" viewBox="0 0 19 17" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6.33333 7.58745H4.22222V9.16982H6.33333V7.58745ZM10.5556 7.58745H8.44444V9.16982H10.5556V7.58745ZM14.7778 7.58745H12.6667V9.16982H14.7778V7.58745ZM16.8889 2.04916H15.8333V0.466797H13.7222V2.04916H5.27778V0.466797H3.16667V2.04916H2.11111C0.939444 2.04916 0.0105555 2.76123 0.0105555 3.63153L0 14.7081C0 15.5784 0.939444 16.2905 2.11111 16.2905H16.8889C18.05 16.2905 19 15.5784 19 14.7081V3.63153C19 2.76123 18.05 2.04916 16.8889 2.04916ZM16.8889 14.7081H2.11111V6.00508H16.8889V14.7081Z"
                  fill="black" />
              </svg>
            </ion-col>
          </ion-row>
          <ion-row class="carde">
            <ion-col size="6">Date de fin :</ion-col>
            <ion-col size="5">31 - 01 -2023</ion-col>
            <ion-col size="1"><svg width="19" height="17" viewBox="0 0 19 17" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6.33333 7.58745H4.22222V9.16982H6.33333V7.58745ZM10.5556 7.58745H8.44444V9.16982H10.5556V7.58745ZM14.7778 7.58745H12.6667V9.16982H14.7778V7.58745ZM16.8889 2.04916H15.8333V0.466797H13.7222V2.04916H5.27778V0.466797H3.16667V2.04916H2.11111C0.939444 2.04916 0.0105555 2.76123 0.0105555 3.63153L0 14.7081C0 15.5784 0.939444 16.2905 2.11111 16.2905H16.8889C18.05 16.2905 19 15.5784 19 14.7081V3.63153C19 2.76123 18.05 2.04916 16.8889 2.04916ZM16.8889 14.7081H2.11111V6.00508H16.8889V14.7081Z"
                  fill="black" />
              </svg>
            </ion-col>
          </ion-row>
          <ion-row style="display:contents;">
            <ion-col size="6">Etat : </ion-col>
            <ion-col size="6">{{nom}}</ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col> -->
    <ion-col size="12" >
    <ion-card *ngFor="let enquete of ToutEnquete" [routerLink]="['/details-enquete', enquete.id]">
        <img src="{{enquete?.images}}" alt="Image de l'activité">
        <ion-card-header>
          <ion-card-subtitle>Nom de l'enquête <b>{{enquete.libelle}}</b></ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <div><p> <b style="font-size:medium;">Date de debut: </b> {{enquete.datedebut}}</p></div>
          <div><p> <b style="font-size:medium;">Date de fin:</b> {{enquete.datefin}}</p></div>
          <div><p> <b style="font-size:medium;">Nom de l'organisateur :</b> {{ organization }}</p></div>
          <div><p> <b style="font-size: medium;">Description de l'enquête : </b> <br> {{enquete.description}} </p> </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>


</ion-content>
