.descript{
  //
  margin-left: 10px;
}

.footerr{
  text-align: center;
  align-items: center;
  // margin-left: 100px;
}

ion-button {
  --background: #5AAE3E;
}

.carde{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
 border-radius: 10px 10px;
  background-color: #D9D9D9;
  margin: 10px;
}


.contenir{
background: #D9D9D9;
border-radius: 5px;
}

.slides {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  background-color: black;
  color: white;
  height: 35px;
  margin-bottom: -12px;
}


.images{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
 border-radius: 10px 10px;
}



