<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header> -->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />


</head>

<!-- home.page.html -->

  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <!-- <div class="motdebienvenu">  de revolution de la collecte de donnée au Mali </div> -->
    <ion-slides>
      <ion-slide>
        <div class="slide">

          <h2><p>
            <b>Bienvenue sur la plateforme Mali COLLECTE </b> de revolution de la collecte de donnée au Mali.          </p>
        </h2>
          </div>
          <img src="/mali-collecte/src/assets/IMG_2213.JPG" />
          <p>L'outil générique d'enquête au Mali est une plateforme en ligne et une application mobile conçue pour faciliter la collecte, l'analyse et la présentation de données issues d'enquêtes et de sondages. Il est destiné aux organisations, institutions, étudiants, chercheurs et bureaux d'études qui souhaitent recueillir des données de qualité au Mali.</p>
      </ion-slide>

      <ion-slide>
        <h2>What is Ionic?</h2>
        <p>
          <b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps
          with web technologies like HTML, CSS, and JavaScript.
        </p>
        <div>
          <img src="/mali-collecte/src/assets/b0220b0f813edbff74c2cf6cc057150bc54b88911f8600ac8ff18888b123e89b.jpg" />
          <p>
            L'outil générique d'enquête au Mali est une plateforme en ligne et une application mobile conçue pour faciliter la collecte, l'analyse et la présentation de données issues d'enquêtes et de sondages. Il est destiné aux organisations, institutions, étudiants, chercheurs et bureaux d'études qui souhaitent recueillir des données de qualité au Mali.
          </p>
        </div>


      </ion-slide>

      <ion-slide>
        <img src="./slide-3.png" />
        <h2>What is Appflow?</h2>
        <p>
          <b>Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a
          totally new level of app development agility to mobile dev teams.
        </p>
      </ion-slide>

      <ion-slide>
        <img src="./slide-4.png" />
        <h2>Ready to Play?</h2>
        <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-slide>
    </ion-slides>
  </ion-content>

