<ion-content style="text-align: center; align-items: center;">
  <ion-row style="text-align: center; align-content: center; align-self: center;">
    <ion-col size="12">
      <div>
        <p>{{ title }}</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-card *ngFor="let enquete of lesEnquentesDunUser">
        <img [src]="enquete?.images" alt="Image de l'activité" >
        <ion-card-header>
          <ion-card-subtitle>Non de l'enquête : {{enquete.libelle}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Date de debut: {{enquete.datedebut}}</p>
          <p>Date de fin: {{enquete.datefin}}</p>
        </ion-card-content>
        <p>Nom de l'organisateur {{ organization }}</p>
        <ion-row>
          <ion-col size="4"> <ion-button *ngIf="showRejectButton" color="danger"
              (click)="reject()">Refuser</ion-button></ion-col>
          <!-- Le modal pour la description d'une activité  -->
          <ion-col size="4">
            <ion-content class="voirplus">
              <ion-button class="voirplusbutton" (click)="setOpen(true)">Voir+</ion-button>
              <ion-modal [isOpen]="isModalOpen">
                <ng-template>
                  <ion-header>
                    <ion-toolbar>
                      <ion-title>Description de l'activité</ion-title>
                      <ion-buttons slot="end">
                        <ion-button (click)="setOpen(false)">Fermer</ion-button>
                      </ion-buttons>
                    </ion-toolbar>
                  </ion-header>
                  <ion-content class="ion-padding">
                    <p>
                      {{enquete.description}}
                    </p>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ion-content>
          </ion-col>
          <ion-col size="4">
  <div class="ion-page" style="margin-top: 5px;">
      <ion-button id="open{{enquete?.id}}-modal" expand="block" *ngIf="showAcceptButton" color="success"
              (click)="recuprerLesQuestionsParEnquete(enquete?.id)">Accepter</ion-button>
      <ion-modal #modal trigger="open{{enquete?.id}}-modal" >
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Formulaire de <br>{{enquete?.libelle}}</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="modal.dismiss()">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <div *ngFor="let question of lesQuestionsDeLenquetes; let i=index" >
              <ion-list>
              <ion-item>
                <form style="display: flex; flex-direction: column; gap: 10px; width: 100%;">
                  <ion-label>{{question?.intitule}}</ion-label>
                  <input  type="text" name="reponse_{{question.id}}" id="input{{i}}" placeholder="Veuillez renseigner la reponse">
                </form>
              </ion-item>
            </ion-list>
            </div>

            <ion-button (click)="soumettreReponses()">Soumettre les réponses</ion-button>
          </ion-content>
        </ng-template>
      </ion-modal>
  </div>
            </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
