ion-card {
  margin: 20px;
  padding: 20px;
  box-shadow: 2px 2px 8px #ccc;
}

ion-card img {
  width: 100%;
}

ion-card ion-card-header {
  text-align: center;
}

ion-card ion-card-subtitle {
  font-size: 18px;
  font-weight: bold;
}

ion-card ion-card-title {
  font-size: 14px;
  font-style: italic;
}

ion-card ion-card-content {
  margin-top: 20px;
  font-size: 14px;
}

ion-card ion-button {
  font-size: 10px;
  margin-top: 20px;
  width: 60px;
  height: 28px;
}

ion-card ion-button[color="danger"] {
  --background: #ff5252;
  --color: #fff;
}

ion-card ion-button[color="success"] {
  --background: #4caf50;
  --color: #fff;
}


ion-button {
  --background: #5AAE3E;
}
