<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menu assigner repondant
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form #form="ngForm">

    <ion-list lines="none">

      <ion-item>
        <ion-label position="stacked">Tranche d'âge:</ion-label>
        <ion-select [(ngModel)]="selectedAgeRange" name="ageRange" #ageRange="ngModel" required>
          <ion-select-option value="0-5">0-5</ion-select-option>
          <ion-select-option value="5-15">5-15</ion-select-option>
          <ion-select-option value="15-25">15-25</ion-select-option>
          <ion-select-option value="25-35">25-35</ion-select-option>
          <ion-select-option value="35-50">35-50</ion-select-option>
          <ion-select-option value="50-65">50-65</ion-select-option>
          <ion-select-option value="66+">66+</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Genre:</ion-label>
        <ion-select [(ngModel)]="selectedGender" name="gender" #gender="ngModel" required>
          <ion-select-option value="homme">Homme</ion-select-option>
          <ion-select-option value="femme">Femme</ion-select-option>
          <ion-select-option value="les deux">Les deux</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Région:</ion-label>
        <ion-select [(ngModel)]="selectedRegion" name="region" #region="ngModel" multiple>
          <ion-select-option value="Kayes">Kayes</ion-select-option>
          <ion-select-option value="Koulikoro">Koulikoro</ion-select-option>
          <ion-select-option value="Sikasso">Sikasso</ion-select-option>
          <ion-select-option value="Segou">Segou</ion-select-option>
          <ion-select-option value="Mopti">Mopti</ion-select-option>
          <ion-select-option value="Tombouctou">Tombouctou</ion-select-option>
          <ion-select-option value="Gao">Gao</ion-select-option>
          <ion-select-option value="Kidal">Kidal</ion-select-option>
          <ion-select-option value="Taoudeni">Taoudeni</ion-select-option>
          <ion-select-option value="Menaka">Menaka</ion-select-option>
          <ion-select-option value="Nioro">Nioro</ion-select-option>
          <ion-select-option value="Kita">Kita</ion-select-option>
          <ion-select-option value="Dioila">Dioila</ion-select-option>
          <ion-select-option value="Nara">Nara</ion-select-option>
          <ion-select-option value="Bougou">Bougou</ion-select-option>
          <ion-select-option value="Koutiala">Koutiala</ion-select-option>
          <ion-select-option value="San">San</ion-select-option>
          <ion-select-option value="Douantza">Douantza</ion-select-option>
          <ion-select-option value="Bandiagara">Bandiagara</ion-select-option>
          <ion-select-option value="Bamako">District Bamako</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary" (click)="submitForm(form)">Valider</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="danger" (click)="cancelForm()">Annuler</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
