<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menu assigner repondant
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="myForm" (ngSubmit)="envoyerForm()">

    <ion-list lines="none">

      <ion-item>
        <ion-label position="stacked">Tranche d'âge:</ion-label>
        <ion-select formControlName="tranche">
          <ion-select-option value="0-5">0-5</ion-select-option>
          <ion-select-option value="5-15">5-15</ion-select-option>
          <ion-select-option value="15-25">15-25</ion-select-option>
          <ion-select-option value="25-35">25-35</ion-select-option>
          <ion-select-option value="35-50">35-50</ion-select-option>
          <ion-select-option value="50-65">50-65</ion-select-option>
          <ion-select-option value="65+">65+</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Genre:</ion-label>
        <ion-select formControlName="genre">
          <ion-select-option value="m">Homme</ion-select-option>
          <ion-select-option value="f">Femme</ion-select-option>
          <ion-select-option value="hf">Les deux</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Région:</ion-label>
        <ion-select  formControlName="localite" multiple>
          <ion-select-option value="kayes">Kayes</ion-select-option>
          <ion-select-option value="koulikoro">Koulikoro</ion-select-option>
          <ion-select-option value="sikasso">Sikasso</ion-select-option>
          <ion-select-option value="segou">Segou</ion-select-option>
          <ion-select-option value="mopti">Mopti</ion-select-option>
          <ion-select-option value="tombouctou">Tombouctou</ion-select-option>
          <ion-select-option value="gao">Gao</ion-select-option>
          <ion-select-option value="kidal">Kidal</ion-select-option>
          <ion-select-option value="taoudeni">Taoudeni</ion-select-option>
          <ion-select-option value="menaka">Menaka</ion-select-option>
          <ion-select-option value="nioro">Nioro</ion-select-option>
          <ion-select-option value="kita">Kita</ion-select-option>
          <ion-select-option value="dioila">Dioila</ion-select-option>
          <ion-select-option value="nara">Nara</ion-select-option>
          <ion-select-option value="bougou">Bougou</ion-select-option>
          <ion-select-option value="koutiala">Koutiala</ion-select-option>
          <ion-select-option value="san">San</ion-select-option>
          <ion-select-option value="douantza">Douantza</ion-select-option>
          <ion-select-option value="bandiagara">Bandiagara</ion-select-option>
          <ion-select-option value="bamako">District Bamako</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button type="submit" [disabled]="!myForm.valid" color="primary">Valider</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="danger" (click)="cancelForm()">Annuler</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
