#full{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 10px;
margin: 10px; border-radius: 10px 10px;
}
.submit{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 10px;
margin: 10px; border-radius: 10px 10px;
background-color: #5AAE3E;
}

