<ion-tabs >

  <ion-tab-bar class="menuBar" slot="bottom">
    <ion-tab-button tab="acceuil">
      <i class="fa-solid fa-pen-to-square"></i>
      <ion-icon  name="person-circle" aria-hidden="true"></ion-icon>
      <ion-label >Acceuil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Enquete">
      <i  class="fa-solid fa-camera"></i>
      <ion-icon  name="person-circle" aria-hidden="true"></ion-icon>
      <ion-label >Enquête</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Sondage">
      <i  class="fa-solid fa-video"></i>
      <ion-icon  name="person-circle" aria-hidden="true"></ion-icon>
      <ion-label >Sondage</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Profil">
      <i  class="fa-sharp fa-solid fa-microphone"></i>
      <ion-icon  name="person-circle" aria-hidden="true"></ion-icon>
      <ion-label  >Profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
