<ion-content>

  <ion-card class="splash" ; style="margin-top: 50px;">
    <div>
      Une application d'enquête
      <!-- peut être un moyen très pratique -->
      pour collecter des données
      <!-- essentielles concernant les besoins en matière de ressources et d'aides pour les populations vulnérables au Mali. En effet, -->
      elle peut fournir des informations précieuses sur la façon dont les dons, les ressources et les aides devraient
      être distribués et répartis.
      <!-- De plus, en adoptant une telle application, toutes les parties concernées pourront obtenir des informations complètes et précises, ce qui aidera à éviter les inégalités. Enfin, l'utilisation d'une application d'enquête peut aider à améliorer les conditions de vie des personnes les plus touchées par les difficultés. -->
    </div>

    <div class="textes">
      <img src="../../assets/icon/icon-logo.png" alt="">
    </div>

    <div class="images">

    </div>

    <!-- <div class="progress-bar">
      <div class="progress"></div>
    </div> -->

  </ion-card>


</ion-content>
