<ion-header>
  <ion-toolbar>
    <ion-title>Création d'une enquête</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Type de l'enquête</ion-label>
    <ion-input type="text" [(ngModel)]="form.type" name="type" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Libellé de l'enquête</ion-label>
    <ion-input type="text" placeholder="Libellé de l'enquête" [(ngModel)]="form.libelle" name="libelle"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Image</ion-label>
    <ion-input type="file" placeholder="image de l'enquête"   (change)="chargerImages($event)" name="images"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Description de l'enquête</ion-label>
    <ion-input type="text" placeholder="Description de l'enquête" [(ngModel)]="form.description" name="description"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Date de début de l'enquête</ion-label>
    <ion-input type="date" placeholder="Date de début de l'enquête" [(ngModel)]="datedebut" name="datedebut"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Date de fin de l'enquête</ion-label>
    <ion-input type="date" placeholder="Date de fin de l'enquête" [(ngModel)]="datefin" name="datefin"></ion-input>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button (click)="ajoutEnquete()" [strong]="true" expand="block">Créer</ion-button>

    </ion-col>
    <ion-col>
      <ion-button (click)="back()" expand="block">Annuler</ion-button>

    </ion-col>
  </ion-row>
</ion-content>
