
<ion-content>
<ion-card class="mdprecap">
  <ion-row>
    <ion-title style="align-items: center; text-align: center;">
      <u><b>Recuperation du mot de passe</b> </u>
    </ion-title>
  </ion-row>
  <ion-item class="full">
    <ion-label position="floating">Mot de passe</ion-label>
    <ion-input type="password" required></ion-input>
  </ion-item>
  <ion-item class="full">
    <ion-label position="floating">Confirmation du mot de passe </ion-label>
    <ion-input type="password" required></ion-input>
  </ion-item>

  <ion-button>Reinitialiser </ion-button>
</ion-card>
</ion-content>
